<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Bill</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h2>Add Bill</h2>
      <form method="POST" action="{{ url_for('add_bill') }}">
        <div class="form-group">
          <label for="user_id">User:</label>
          <select class="form-control" id="user_id" name="user_id">
            {% for user in user_choices %}
            <option value="{{ user['UserID'] }}">{{ user['Username'] }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="year">Year:</label>
          <input type="text" class="form-control" id="year" name="year" />
        </div>
        <div class="form-group">
          <label for="month">Month:</label>
          <select class="form-control" id="month" name="month">
            <option value="01">January</option>
            <option value="02">February</option>
            <option value="03">March</option>
            <option value="04">April</option>
            <option value="05">May</option>
            <option value="06">June</option>
            <option value="07">July</option>
            <option value="08">August</option>
            <option value="09">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
          </select>
        </div>
        <div class="form-group">
          <label for="units_consumed">Units Consumed:</label>
          <input
            type="text"
            class="form-control"
            id="units_consumed"
            name="units_consumed"
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </body>
</html>
