<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="mt-4">Admin Dashboard</h2>
          <hr />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h4>Overview Section</h4>
          <!-- Display summary statistics and graphical representations -->
          <p>
            Summary statistics and graphical representations will be displayed
            here.
          </p>
          <a href="{{ url_for('detailed_statistics') }}" class="btn btn-primary"
            >View Detailed Statistics</a
          >
        </div>
        <div class="col-md-6">
          <h4>User Management</h4>
          <!-- Link to a separate route for user management -->
          <p>
            Manage user profiles, search and filter users, and perform
            user-related actions.
          </p>
          <a href="{{ url_for('user_management') }}" class="btn btn-primary"
            >Manage Users</a
          >
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-6">
          <h4>Billing Management</h4>
          <!-- Display list of bills and options to generate new bills -->
          <p>
            Manage electricity bills, view bill details, and generate new bills
            for users.
          </p>
          <a href="{{ url_for('billing_management') }}" class="btn btn-primary"
            >Manage Bills</a
          >
        </div>
        <div class="col-md-6">
          <h4>Logout</h4>
          <!-- Display list of bills and options to generate new bills -->
          <a href="{{ url_for('admin_login') }}" class="btn btn-primary"
            >Logout</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
