<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Billing Management</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h2 class="mb-4">Billing Management</h2>
      <!-- Add Bill Button -->
      <a href="{{ url_for('add_bill') }}" class="btn btn-primary mb-3"
        >Add Bill</a
      >
      <!-- Billing List -->
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Bill ID</th>
            <th scope="col">User ID</th>
            <th scope="col">Year</th>
            <th scope="col">Month</th>
            <th scope="col">Units Consumed</th>
            <th scope="col">Bill Amount</th>
            <th scope="col">Payment Status</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for bill in bills %}
          <tr>
            <td>{{ bill[0] }}</td>
            <td>{{ bill[1] }}</td>
            <td>{{ bill[2] }}</td>
            <td>{{ bill[3] }}</td>
            <td>{{ bill[4]|float / 2.5 }}</td>
            <td>{{ bill[4] }}</td>
            <td>{{ bill[5] }}</td>
            <td>
              <!-- Update Payment Status Button -->
              <a
                href="{{ url_for('update_payment', bill_id=bill[0], payment_status=bill[5], requester='a') }}"
                class="btn btn-sm {% if bill[5] == 'Paid' %}btn-warning{% else %}btn-success{% endif %}"
              >
                {% if bill[5] == 'Paid' %} Mark as Unpaid {% else %} Mark as
                Paid {% endif %}
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
