<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Dashboard</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container mt-5">
      <!-- User Information Section -->
      <div class="card">
        <div class="card-header">
          <h5>User Information</h5>
        </div>
        <div class="card-body">
          <!-- Display user information here -->
          <p><strong>Name:</strong> {{ user }}</p>
          <p><strong>UserID:</strong> {{ user_id }}</p>
          <p><strong>Email:</strong> {{ email }}</p>
          <p><strong>Address:</strong> {{ address }}</p>
          <p><strong>Contact Number:</strong> {{ contact_number }}</p>
          <!-- Button to change password -->
          <a href="{{ url_for('client_login') }}" class="btn btn-primary"
            >Logout</a
          >
        </div>
      </div>

      <!-- Summary Section -->
      <div class="mt-4">
        <h5>Billing Summary</h5>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Year</th>
              <th>Month</th>
              <th>Units Consumed</th>
              <th>Price Owed</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <!-- Loop through bill summaries -->
            {% for bill in bill_summary %}
            <tr>
              <td>{{ bill[0] }}</td>
              <td>{{ bill[1] }}</td>
              <td>{{ bill[2]|float / 2.5}}</td>
              <td>{{ bill[2] }}</td>
              <td>{{ bill[3] }}</td>
              <td>
                <!-- Display button based on bill status -->
                {% if bill[3] == 'Unpaid' %}
                <a
                  href="{{ url_for('update_payment', bill_id=bill[4], payment_status=bill[3],requester='c',user_id=user_id )}}"
                  class="btn btn-primary"
                  >Make Payment</a
                >

                {% else %} No action needed {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
