<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detailed Statistics</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h2>Detailed Statistics</h2>
      <p>Total Number of Users: {{ total_users }}</p>

      <h3>Total Unit Consumed Segregated by Month:</h3>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Year</th>
            <th scope="col">Month</th>
            <th scope="col">Total Units Consumed</th>
            <th scope="col">Total Amount</th>
          </tr>
        </thead>
        <tbody>
          {% for year, month, total_bill_amount in unit_consumption %}
          <tr>
            <td>{{ year }}</td>
            <td>{{ month }}</td>
            <td>{{ total_bill_amount|float / 2.5 }}</td>
            <td>{{ total_bill_amount }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <h3>
        Total Revenue Generated: {{ total_paid_revenue+total_unpaid_revenue }}
      </h3>
      <p>Paid: {{ total_paid_revenue }}</p>
      <p>Unpaid: {{ total_unpaid_revenue }}</p>
    </div>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
