<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit User</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h1>Edit User</h1>
      <form
        method="POST"
        action="{{ url_for('edit_user', user_id=user['UserID']) }}"
      >
        <div class="form-group">
          <label for="username">Username:</label>
          <input
            type="text"
            class="form-control"
            id="username"
            name="username"
            value="{{ user['Username'] }}"
          />
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            value="{{ user['Email'] }}"
          />
        </div>
        <div class="form-group">
          <label for="fullname">Full Name:</label>
          <input
            type="text"
            class="form-control"
            id="fullname"
            name="fullname"
            value="{{ user['FullName'] }}"
          />
        </div>
        <div class="form-group">
          <label for="address">Address:</label>
          <input
            type="text"
            class="form-control"
            id="address"
            name="address"
            value="{{ user['Address'] }}"
          />
        </div>
        <div class="form-group">
          <label for="contact_number">Contact Number:</label>
          <input
            type="tel"
            class="form-control"
            id="contact_number"
            name="contact_number"
            value="{{ user['ContactNumber'] }}"
          />
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
      </form>
    </div>
  </body>
</html>
