<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Management</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h1 class="mb-4">User Management</h1>

      <!-- Display Users -->
      <div class="mb-4">
        <h2>Active Users</h2>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>User ID</th>
              <th>Username</th>
              <th>Email</th>
              <th>Full Name</th>
              <th>Address</th>
              <th>Contact Number</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for user in users %}
            <tr>
              <td>{{ user.UserID }}</td>
              <td>{{ user.Username }}</td>
              <td>{{ user.Email }}</td>
              <td>{{ user.FullName }}</td>
              <td>{{ user.Address }}</td>
              <td>{{ user.ContactNumber }}</td>
              <td>
                <a
                  href="{{ url_for('edit_user', user_id=user.UserID) }}"
                  class="btn btn-primary btn-sm"
                  >Edit</a
                >
                <form
                  action="{{ url_for('delete_user', user_id=user.UserID) }}"
                  method="post"
                  style="display: inline"
                >
                  <button type="submit" class="btn btn-danger btn-sm">
                    Delete
                  </button>
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <!-- Add User -->
      <div>
        <h2>Add User</h2>
        <form action="{{ url_for('add_user') }}" method="post">
          <div class="form-group">
            <label for="username">Username:</label>
            <input
              type="text"
              class="form-control"
              id="username"
              name="username"
              required
            />
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              required
            />
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              required
            />
          </div>
          <div class="form-group">
            <label for="fullname">Full Name:</label>
            <input
              type="text"
              class="form-control"
              id="fullname"
              name="fullname"
              required
            />
          </div>
          <div class="form-group">
            <label for="address">Address:</label>
            <input
              type="text"
              class="form-control"
              id="address"
              name="address"
            />
          </div>
          <div class="form-group">
            <label for="contact_number">Contact Number:</label>
            <input
              type="text"
              class="form-control"
              id="contact_number"
              name="contact_number"
            />
          </div>
          <button type="submit" class="btn btn-success">Add User</button>
        </form>
      </div>
    </div>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
